@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  /* padding: 0; */
  font-family: 'Courier New', Courier, monospace;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.navbar {
  position: absolute;
  margin: 1%;
  /* padding: 1%; */
  width: 90%;
  height: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: pink;
  border-color: aliceblue;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1rem;
}

.leftborder-leftu {
  padding: 5%;
  display: flex;
  justify-content: flex-start;
}

.title {
  padding: 5%;
  display: flex;
  justify-content: flex-end;
}















/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
